<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="Suite">


  <test thread-count="5" name="Submit Order Test" >
  <parameter name="userName" value="testUser2"/>
  <parameter name="password" value="test1234"/> 
  
    <classes>
      <class  name="seleniumframework.TestAutomationFramework.userRegistration" />
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->


